body {
    width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contenido {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#contenido input {
    border: none;
    border-bottom: 1px solid black;
}

#contenido input:focus {
    outline: none;
}